# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 环境变量文件
.env

# 进度文件
conversion_progress_*.yaml

# 日志文件
*.log

# Pyre type checker
.pyre/
.idea/'

# Intellij IDEA Files
.idea/
.ideaDataSources/

.vscode/

# Mac files
.DS_Store

# node
node_modules/

# conversion
conversion_progress_jp.yaml
conversion_progress_en.yaml
conversion_progress_zh_CN.yaml
image_conversion.log